.logo {
    width: 90px;
    height: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.jumbotron .container {
    max-width: 40rem;
}

.jumbotron-heading {
    font-weight: 300;
}

.card-img-top {
    height: 225px;
}

.pricing-header {
    max-width: 700px;
}

.font-weight-norma {
    font-weight: 400;
}

@media (min-width: 768px) {
    .jumbotron {
        padding-top: 96px;
        padding-bottom: 96px;
    }
}

@media (min-width: 576px) {
    .jumbotron {
        padding: 48px 32px;
    }
}

@media (max-width: 576px) {
    .jumbotron {
        padding: 48px 16px;
    }
}